# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\深蓝学院\shenlanxueyuan\course04-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
