# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\深蓝学院\shenlanxueyuan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
